{% extends "zdrobnienia/base.html" %}
{% block content %}

<div class="container">

<form action="{% url 'result' %}" method="post">
{% csrf_token %}
<div class="form-group">
    <label for="text">Text to analyze</label>
    <textarea class="form-control" id="text" name="text" rows="10"></textarea>
</div>

<input type="submit"   class="btn btn-primary" value="Submit">
</form>

</div>
{%endblock%}
