{% extends "zdrobnienia/base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h2>Analyzed text:</h2>
        <div style="height: 300px" class="overflow-auto  border bg-light p-md-2 text-justify" id="text"> {{ text }}</div>
    </div>
    <div class="row">
        <h2>Words:</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">#</th>
              <th scope="col">Word</th>
              <th scope="col">Type</th>
                <th scope="col">Ending</th>
            </tr>
          </thead>
          <tbody>
          {% for r in result %}
              <tr>
                  <th scope="row">{{ forloop.counter0 }}</th>
                  <td>{{ r.word }}</td>
                  <td>{{ r.type }}</td>
                  <td>{{ r.ending }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
        <div class="row">
        <h2>Statistics:</h2>
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Nouns number</th>
              <th scope="col">Adjectives number</th>
          </thead>
          <tbody>
              <tr>
                  <td>{{ stats.nouns }}</td>
                  <td>{{ stats.adjectives }}</td>
              </tr>
          </tbody>
        </table>
    </div>
    <a class="btn btn-primary" href="{% url 'index' %}">Return</a>
</div>
{%endblock%}
